@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
    --font-dark: #3B3B3B;
    --btn-gold: #FFC044;
    --dark-gold: #6C4801;
    --unknown: #FFF8E4;
    --white: #FFFFFF;

    --outer-radius: 1rem;
    --inner-radius: 0.5rem;

    --large-font-size: 2.125rem;
    --medium-font-size: 1.125rem;
    --small-font-size: 1rem;

    --hover-transition: all 0.3s ease-in-out;

    --shadow: 0px 4px 16px rgba(67, 81, 80, 0.1);
}

html{
    scroll-behavior: smooth;
}

a { text-decoration: none; }

h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    justify-content: center;

    text-align: center;

    color: var(--font-dark);
}

h4{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 18px;
    margin: 1em;
    color: #6C4801;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--font-dark);
}

nav{
    height: 12vh;
    width: 1920px;
    left: 0px;
    top: 0px;
    border-radius: 0px;

}

input{
    width: 560px;
    height: 64px;

    background: #FFFFFF;
    border: 1px solid #98A9FF;
    border-radius: 4px;
    padding: 0.5em;
    margin-top: 0.3em;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin: 0px 100px;
    column-gap: 20px;
}

.navbar{
    background-color: var(--white);
    padding: 1.5rem 100px;
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.menu{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    text-decoration: none;
    list-style-type: none;
}

.menu-item{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    gap: 10px;
    border-radius: 4px;
}

.gold{
    background-color: var(--btn-gold);
}
.dark-gold-txt{
    color: var(--dark-gold);
    color: var(--font-dark);
}

.txt{
    font-size: 16px;
}

.login-container{
    grid-column-start: 2;
    width: 560px;
    position: relative;
    text-align: center;
    height: 80vh;
    top: 92px;
}

.dots-left{
    display: flex;
    justify-content: flex-start;
}

.dots-right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10em;
}

.hero-img{
    grid-column: 8/12;
    width: 641px;
    height: auto;
}

.hero-section{
    margin-top: 12vh;
}

.input-label{
    margin-top: 2em;
    display: flex;
    justify-content: flex-start;
}

.space-between{
    display: flex;
    justify-content: space-between;
    margin-top: 0.3em;
}

.log-btn{
    width: 80px;
    height: 50px;
    border-radius: 4px;
    border: none;
    margin-top: 2em;
    font-size: 16px;
}

.about-box{
    background-color: var(--unknown);
    margin: 10vh;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  width: 560px;
}

.centered {
    padding: 1.5em;
  position: absolute;
  text-align: center;
  width: 560px;
}

.container-about {
    margin-top: 2em;
    position: relative;
    text-align: center;
    width: 100%;
}
.centered-about {
    margin-top: 1.5em;
    position: absolute;
    text-align: center;
    width: 100%;
}

.whitebox-left{
    display: grid;
    grid-column: 2/7;
    background-color: var(--white);
    height: 212px;
    text-align: center;
}

.whitebox-right{
    display: grid;
    grid-column: 7/12;
    background-color: var(--white);
    height: 212px;
    text-align: center;
}

.marg-top{
    margin-top: 10vh;
    margin-bottom: 3vh;
}

.marg-bottom{
    margin-bottom: 10vh;
}

.box-txt{
    margin: 1em;
    text-align: center;
}