.container{
    /* display: flex;
    justify-content: center; */
    background-color: #EAEAEA;
    min-height: 80vh;
    margin-top: 2em;
    border-radius: 15px;
}
body{
    display: flex;
    justify-content: center;
}
input{
    width: 320px;
    height: 2.5em;
    border-radius: 0.5em;
    border: 1px solid #6c757d;
}
ul {
    list-style-type: none;
    padding-left: none;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    margin-left: none;
    }
li{
    display: flex;
    justify-content: space-between;
    margin-left: none;
    margin-right: 2em;
    padding: 0.3em;
    border-radius: 0.4em;
}
li:hover{
    border-radius: 0.4em;
    border: 2px solid azure;
}
/* li.checked{
    background-color: red;
} */
.input-line{
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-box{
    width: 400px;
    text-align: center;
    margin-top: 1em;
}
.flex-center{
    display: flex;
    justify-content: center;
}

.list-box{
    width: 400px;
    background-color: #B2B2B2;
    border-radius: 15px;
}
.checked{
    text-decoration: line-through;
    color: azure;
    background-color: #3C4048;
}